/*Author: WIll F Forest*/
body {color: #666666 ; background-color: #AAAAEE}
button {font-family: "Trebuchet MS", Helvetica, sans-serif ;}
p {font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;}
#success {color: Green; text-decoration: underline;}
